include header
#wrapper
  .topbar
    .back
      a(href="/") 
        i.material-icons.back arrow_back
    h3 #{file.name.substr(0, 35)} #{file.name.length >= 35 ? '...' : ''}
    i.material-icons.cloud cloud
  .preview
    if !file.type.match(/video|audio/g)
      pre
        code(class="language-#{file.type.split('/')[1] || file.name.split('.')[file.name.split('.').length - 1]}")=content
    else if file.type.match(/video/g)
      video(controls, src="/download/#{file.name}")
    else
      audio(controls, src="/download/#{file.name}")
  .info
    ul.list
      li Name : #{file.name}
      li Size: #{utils.parse_size(file.size)}
      li Type: #{file.type || file.name.split('.')[file.name.split('.').length - 1]}
      li Path: #{file.path}
      li Last Modified: #{file.lastModifiedDate}
      
script(src="/js/prism.js", type="text/javascript")
